<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title >RURA statistics visualization </title>
    <h1> RURA new Statistics model!</h1>
    <a href="{% url 'home' %}">Home</a> |
    {% load static %}
    <link rel="stylesheet" href="{% static 'js/app.js' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script>
         $( function() {
             $( "#datepicker" ).datepicker();
         } );
         $( function() {
             $( "#datepicker1" ).datepicker();
         } );
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Prepaid',     2314253647],
          ['Postpaied',    2378294738]

        ]);

        var options = {
          title: 'Prepaid and Postpaid for MTN in Nov 2019'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>

{% block content %}


{% endblock %}
</body>
</html>
