<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title >RURA statistics visualization </title>
    <h1 style="text-align: center;"> RURA new Statistics model!</h1>
    <div class="menu "> <a href="{% url 'home' %}">Home</a> |</div>
    {% load static %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script>
         $( function() {
             $( "#datepicker" ).datepicker();
         } );
         $( function() {
             $( "#datepicker1" ).datepicker();
         } );
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Prepaid',     2314253647],
          ['Postpaied',    2378294738]

        ]);

        var options = {
          title: 'Prepaid and Postpaid for MTN in Nov 2019'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    
    <script>
      $(document).ready(function(){
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [],
          datasets: [{
            label: 'Prepaid ICT trend',
            data: [],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            xAxes: [],
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }]
          } 
           
        }
      });
      var updateChart = function() {
        $.ajax({
          url: "get/prepaid/ict/data",///COVID20/public
          type: 'GET',
          dataType: 'json',
          headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
          },
          success: function(data) {
    
            myChart.data.labels = data.labels;
            myChart.data.datasets[0].data = data.data;
            myChart.data.datasets[0].backgroundColor= 'rgba(0.1,230 , 0.1, 0.5)';
                 
            myChart.update();
          },
          error: function(data){
            console.log(data);
          }
        });
      }
    
    
      updateChart();
      setInterval(() => {
        updateChart();
      }, 1000);
      var pctx = document.getElementById("myPie");
      var myDoughnutChart = new Chart(pctx, {
        type: 'doughnut',
        data: {
          labels: [],
          datasets: [{
            label: 'Visualization',
            data: [],
            borderWidth: 1
          }]
        },
        
      });
      var updatePieChart = function() {
        $.ajax({
          url:  "/get/patient/bar/data",///COVID20/public
          type: 'GET',
          dataType: 'json',
          headers: {
            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
          },
          success: function(data) {
    
            myDoughnutChart.data.labels = data.labels;
            myDoughnutChart.data.datasets[0].data = data.data;
            myDoughnutChart.data.datasets[0].backgroundColor= [
                    'rgba(255, 1, 1, 1)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(1, 255, 1, 1)',
                    'rgba(75, 20, 1, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                     
                ];
                      
            
            myDoughnutChart.update();
          },
          error: function(data){
            console.log(data);
          }
        });
      }
      updatePieChart();
      setInterval(() => {
        updatePieChart();
      }, 1000);
    
    })  
    </script>
    
    
</head>
<body>

{% block content %}


{% endblock %}
</body>
</html>
