{% extends 'base.html' %}


{% block content %}

<div style="width:100%;text-align:center;clear:both">
    <div style="float:left;width:70%;">
         <h2>ICT statistics</h2><br/><br/>
         <table border="1">
            <thead>
                <tr>
                    <td>Name of Operator</td><td>Prepaid</td><td>Postpaid</td><td>Date Paid</td>
                </tr>
            </thead>
            <tbody>
            {% for ict in icts %}
            <tr> <td>{{ict.company_name}}</td><td>{{ict.prepaid}}</td><td>{{ict.postpaid}}</td><td>{{ict.date_paid}}</td>
            </tr>

        {% endfor %}
            </tbody>
        </table>

    </div>
    <div id="piechart" style="width: 250px; height:400px;float:left;"></div>
    <div style="float:right;width:10%;">
        <h4>Filter search</h4>
        <form method="post" action="the/ih">
            {% csrf_token %}
            <select name="category" type="text">
                <option value="select">Select Category</option>
                <option value="ICT">ICT</option>
                <option value="Energy">Energy</option>
                <option value="others">others</option>
            </select><br/><br/>
            <select name="report_type" type="text">
                <option value="monthly">Monthly Report</option>
                <option value="quarterly">Quarterly Report</option>
                </select><br/><br/>
           <p>start Date: <input type="text" id="datepicker" name="start_date"></p>
            <p>End Date: <input type="text" id="datepicker1" name="end_date"></p>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<br/><br/>
<div>
    <div style="float:left;width:70%;">
         <h3>Voice Calls </h3>
         <table border="1">
            <thead>
                <tr>
                    <td>Destination</td><td>Name of Operator</td><td>Calls</td><td>Average minute per Call</td> <td>Type</td>
                </tr>
            </thead>
            <tbody>
            {% for vt in vts %}
            <tr> <td>{{vt.destination}}</td><td>{{vt.company_name}}</td><td>{{vt.call_count}}</td><td>{{vt.average_minute_per_call}}</td>
                {% if vt.out_going %}
                <td>Out going</td>
                {% else %}
                <td> In coming</td>
                {% endif %}
            </tr>

        {% endfor %}
            </tbody>
        </table>

    </div>
    <div style="width: 250px; height:400px;float:left;"></div>
</div>

{% endblock%}
